:root {
  --color-white: 0, 0%, 100%;
  --color-black: 0, 0%, 0%;
  --color-primary-light: 204, 90%, 85%;
  --color-primary-medium: 204, 70%, 45%;
  --color-primary-dark: 204, 89%, 26%;
  --color-secondary-light: 284, 71%, 80%;
  --color-secondary-medium: 284, 40%, 50%;
  --color-secondary-dark: 284, 70%, 30%;

  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

html {
  font-family: Inter;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
}

body {
  padding: 0 2rem;
  max-width: 70ch;
  margin: 0 auto;
}

/* 
    Link styles:
    Correct order is LoVeHAte (Link, Visited, Hover, Active) 
    See https://forsethingvild.medium.com/helpful-css-acronyms-d16010e5dd5f#a51f
*/
a,
a:visited {
  color: hsl(var(--color-primary-medium));
}

a:hover {
  color: hsl(var(--color-primary-dark));
  text-decoration-style: dashed;
}

.logo svg {
  margin: 0 auto;
  height: 30vh;
}

.heading {
  text-align: center;
}

.links_slack svg {
  width: 2rem;
  height: 2rem;
}

hr {
  border-top: 3px dashed hsl(var(--color-primary-medium));
  width: 50vw;
  margin: 1rem auto;
}
