---
import Event from './Event.astro';

import { getCollection } from 'astro:content';

const allEvents = await getCollection('events');

const currentEvents = allEvents.filter(event => new Date(event.data.date) > new Date());

const hasCurrentEvents = currentEvents.length > 0;

const MAX_PAST_EVENTS = 2;

const pastEvents = allEvents.filter(event => new Date(event.data.date) < new Date()).slice(0, MAX_PAST_EVENTS);

const blogEnabled = import.meta.env.BLOG_ENABLED === "true";
---

<div class="events">
  <h2>Arrangementer</h2>
  <div class="events__current">
  {hasCurrentEvents ? 
    <p>Se vår <a
      href="https://www.offentlig-frontend.slack.com"
      >Slack-kanal
    </a> for mer informasjon og påmelding.</p>
    <ul>
    {currentEvents.map(event => (
      <li>
        <h3>{event.data.title}</h3>
        <Event event={event} />
      </li>
    ))}
    </ul> : <p>Ingen arrangementer er planlagt for øyeblikket.</p>}
  </div>
  <div class="events__past">
    <h3>Tidligere arrangementer</h3>
    <ul>
      {pastEvents.map((event) => (
        <li>
          <h4>{event.data.title}</h4>
          <Event event={event} />
        </li>
      ))}
    </ul>
    {blogEnabled && <p>Dette er noen av våre siste arrangementer. Ta en titt på <a href="/blog">bloggen</a> vår for mer informasjon om tidligere arrangementer.</p>}
  </div>
</div>
