---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(blogPost => ({
    params: { slug: blogPost.slug }, props: { entry: blogPost },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<!doctype html>
<html lang="no">
	<head>
		<BaseHead />
		<!-- Add your page's assets here -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
		rel="stylesheet"
		/>
	</head>
  <h1>{entry.data.title}</h1>
  <Content />
</html>
