:root {
  --color-white: #fff;
  --color-black: #000;

  --size-xxxs: 2px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  --duration-xs: 0.125s;
  --duration-s: 0.25s;
  --duration-m: 0.5s;
  --duration-l: 1s;
  --duration-xl: 1.5s;
  --duration-xxl: 2s;

  /* See NRK Sans Variable font-variation-setting docs: https://static.nrk.no/nrk-sans/latest/index.html#font-variation-setting */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

html {
  font-family: sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  margin: var(--size-l);
}

main {
  max-width: 70ch;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

footer {
  margin-top: var(--size-l);
  padding-top: var(--size-l);
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  border-top: 2px dotted var(--color-primary-medium);
  margin: 0 auto;
}

footer > * {
  max-width: 70ch;
  margin: 0 auto;
}

p + p {
  margin-top: 1rem;
}

/* 
    Link styles:
    Correct order is LoVeHAte (Link, Visited, Hover, Active) 
    See https://forsethingvild.medium.com/helpful-css-acronyms-d16010e5dd5f#a51f
*/
a:not(.theme-menu a) {
  display: inline-block;
  margin: 0 var(--size-xxs);
  color: var(--color-black);
  transition: transform var(--duration-s) linear;
}

a:not(.theme-menu a):hover {
  transform: scale(1.15);
}

/* LOGO */
.logo svg {
  display: none;
}

.logo::before {
  content: "OF";
  font-size: 10rem;
}

/* LINKS */
.links {
  width: fit-content;
  margin: 2rem auto 0;
}

.links__slack svg {
  display: none;
}

.links__slack::before {
  content: "Slack";
  transition: transform var(--duration-s) linear;
}

.links__slack::before:hover {
  transform: scale(1.3);
}

/* CONTRIBUTORS */
.contributors__links {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  place-content: center;
  gap: var(--size-s);
  flex-wrap: wrap;
  text-transform: uppercase;
}
