:root {
  /* 
    NRK color docs: https://static.nrk.no/core-design/latest/index.html?docs/tokens.md 
    - Core blue: [50, 100, 200, 300, 400, 500, 600, 700, 750, 800, 900, 950]
    - Red: [50, 100, 200, 300, 400, 450, 500, 600, 700, 800, 900, 950]
    
  */
  --color-white: var(--nrk-color-core-blue-50);
  --color-black: var(--nrk-color-core-blue-950);

  --color-primary-light: var(--nrk-color-core-blue-100);
  --color-primary-medium: var(--nrk-color-core-blue-400);
  --color-primary-dark: var(--nrk-color-core-blue-750);

  --color-secondary-light: var(--nrk-color-red-100);
  --color-secondary-medium: var(--nrk-color-red-400);
  --color-secondary-dark: var(--nrk-color-red-700);

  --size-xxxs: 2px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  --duration-xs: 0.125s;
  --duration-s: 0.25s;
  --duration-sm: 0.375s;
  --duration-m: 0.5s;
  --duration-l: 1s;
  --duration-xl: 1.5s;
  --duration-xxl: 2s;

  /* See NRK Sans Variable font-variation-setting docs: https://static.nrk.no/nrk-sans/latest/index.html#font-variation-setting */
  --font-weight-regular: var(--nrk-sans-weight-regular);
  --font-weight-medium: var(--nrk-sans-weight-medium);

  /* 
    Already defined weight values
    --nrk-sans-weight-hairline
    --nrk-sans-weight-thin
    --nrk-sans-weight-extralight
    --nrk-sans-weight-light
    --nrk-sans-weight-regular
    --nrk-sans-weight-medium
    --nrk-sans-weight-bold
    --nrk-sans-weight-extrabold
    --nrk-sans-weight-heavy
    --nrk-sans-weight-black 

    Already defined width: values:
    --nrk-sans-width-regular
    --nrk-sans-width-compressed
    --nrk-sans-width-condensed
    --nrk-sans-width-semi-condensed
    --nrk-sans-width-extended
    --nrk-sans-width-ultra-extended 
  */
}

html {
  position: relative;
  /* NRK Sans Variable docs: https://static.nrk.no/nrk-sans/latest/index.html#usage */
  font-family: "NRK Sans Variable", sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  background-color: var(--color-white);
  --content-bg-color: white;
  --content-border: 1px solid black;
}

html:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/nrklogo-pattern.svg");
}

body {
  height: fit-content;
  padding-top: var(--size-l);
  padding-bottom: var(--size-m);
}

main {
  padding-top: var(--size-xxxs);
  border-top: var(--content-border);
}

main,
footer {
  background-color: var(--content-bg-color);
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  border-right: var(--content-border);
  border-left: var(--content-border);
  padding-right: var(--size-s);
  padding-left: var(--size-s);
}

footer {
  padding-top: var(--size-l);
  padding-bottom: var(--size-m);
  border-bottom: var(--content-border);
}

h1,
h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

p + p {
  margin-top: 1rem;
}

/* 
    Link styles:
    Correct order is LoVeHAte (Link, Visited, Hover, Active) 
    See https://forsethingvild.medium.com/helpful-css-acronyms-d16010e5dd5f#a51f
*/
a:not(.theme-menu a, .explanation__link-localghost) {
  text-decoration: underline;
  color: var(--color-black);
  transition: font-stretch var(--duration-m) ease-out;
}

a:not(.theme-menu a, .explanation__link-localghost):hover {
  font-stretch: calc(var(--nrk-sans-width-ultra-extended) * 0.65%);
}

/* THEME MENU  */
.theme-menu {
  background-color: var(--content-bg-color);
  padding: var(--size-xxs);
  margin: var(--size-xxs) var(--size-s);
  border: 1px solid black;
}

.theme-menu a.theme-menu__nrk svg {
  color: black;
}

/* LOGO */
.logo {
  margin-bottom: var(--size-m);
}
.logo svg {
  margin: 0 auto;
  height: 30vh;
}

.logo__letter-f,
.logo__left {
  color: var(--color-primary-medium);
}

.logo__top,
.logo__bottom {
  color: var(--color-primary-light);
}

.logo__letter-o {
  color: var(--color-primary-dark);
}

/* LINKS */
.links {
  width: fit-content;
  margin: 2rem auto 0;
}

.links__slack svg {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  animation: rotate var(--duration-xl) linear infinite;
  animation-play-state: paused;
}

.links__slack:hover svg {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* CONTRIBUTORS */
.contributors__links {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  place-content: center;
  gap: var(--size-xxxs);
  flex-wrap: wrap;
  text-transform: uppercase;
}

.contributors__links a {
  text-decoration: none;
}

.contributors__links a:not(:last-child)::after {
  content: "|";
  padding: 0 var(--size-xxs);
}

/* EXPLANATION */
.explanation .explanation__link-localghost {
  --text-color-original: oklch(90.6% 0.075 327.59);
  --text-shadow-color-one-original: oklch(75.88% 0.264 329.46);
  --text-shadow-color-two-original: oklch(67.06% 0.326 330.95);

  --text-color: var(--text-color-original);
  --text-shadow-color-one: var(--text-shadow-color-one-original);
  --text-shadow-color-two: var(--text-shadow-color-two-original);

  color: var(--text-color);
  text-shadow: 0 0 0 var(--text-shadow-color-one),
    0 0 0 var(--text-shadow-color-one), 0 0 0 var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one), 0 0 1px var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two);
  transition: color, text-shadow var(--duration-xs);
  background: none;
}

.explanation .explanation__link-localghost:hover {
  --text-color-original: oklch(94.88% 0.072 147.39);
  --text-shadow-color-one-original: oklch(87% 0.203 145.07);
  --text-shadow-color-two-original: oklch(83.82% 0.326 143);

  --text-color: var(--text-color-original);
  --text-shadow-color-one: var(--text-shadow-color-one-original);
  --text-shadow-color-two: var(--text-shadow-color-two-original);

  color: var(--text-color);
  text-shadow: 0 0 0 var(--text-shadow-color-one),
    0 0 0 var(--text-shadow-color-one), 0 0 0 var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one), 0 0 1px var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two);
  /* TODO: Should have other signifier than color that this is a link */
}

/* EVENTS */
.events__current {
  margin-bottom: var(--size-xs);
}
