:root {
  --color-white: 0, 0%, 100%;
  --color-black: 0, 0%, 0%;
  --color-primary-light: 204, 90%, 85%;
  --color-primary-medium: 204, 70%, 45%;
  --color-primary-dark: 204, 89%, 26%;
  --color-secondary-light: 284, 71%, 80%;
  --color-secondary-medium: 284, 40%, 50%;
  --color-secondary-dark: 284, 70%, 30%;

  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

html {
  font-family: Inter, sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
}

body {
  padding: 2rem;
  max-width: 70ch;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

hr {
  border-top: 3px dashed hsl(var(--color-primary-medium));
  width: 50vw;
  margin: 1.5rem auto;
}

p + p {
  margin-top: 1rem;
}

/* 
    Link styles:
    Correct order is LoVeHAte (Link, Visited, Hover, Active) 
    See https://forsethingvild.medium.com/helpful-css-acronyms-d16010e5dd5f#a51f
*/
a,
a:visited {
  color: hsl(var(--color-primary-medium));
}

a:hover {
  color: hsl(var(--color-primary-dark));
  text-decoration-style: dashed;
}

.logo svg {
  margin: 0 auto;
  height: 30vh;
}

.links {
  margin-top: 2rem;
}

.links__slack svg {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

/* Logo */
.logo__letter-f,
.logo__left {
  color: hsl(var(--color-primary-medium));
}

.logo__top,
.logo__bottom {
  color: hsl(var(--color-primary-light));
}

.logo__letter-o {
  color: hsl(var(--color-primary-dark));
}

.contributors__links {
  text-align: center;
}

.explanation a[href*="localghost"] {
  text-decoration: none;
  color: #fccffa;
  text-shadow: 0 0 0 oklch(75.88% 0.264 329.46),
    0 0 0 oklch(75.88% 0.264 329.46), 0 0 0 oklch(75.88% 0.264 329.46),
    0 0 1px oklch(75.88% 0.264 329.46), 0 0 1px oklch(75.88% 0.264 329.46),
    0 0 1px oklch(75.88% 0.264 329.46), 1px 0 20px oklch(75.88% 0.264 329.46),
    1px 0 20px oklch(75.88% 0.264 329.46), 1px 0 20px oklch(75.88% 0.264 329.46),
    1px 0 10px oklch(67.06% 0.326 330.95), 1px 0 10px oklch(67.06% 0.326 330.95),
    1px 0 50px oklch(67.06% 0.326 330.95), 1px 0 50px oklch(67.06% 0.326 330.95);
}

.explanation a[href*="localghost"]:hover {
  color: #cffcd3;
  text-shadow: 0 0 0 #6ff67a, 0 0 0 #6ff67a, 0 0 0 #6ff67a, 0 0 1px #6ff67a,
    0 0 1px #6ff67a, 0 0 1px #6ff67a, 1px 0 20px #6ff67a, 1px 0 20px #6ff67a,
    1px 0 20px #6ff67a, 1px 0 10px oklch(83.82% 0.326 143),
    1px 0 10px oklch(83.82% 0.326 143), 1px 0 50px oklch(83.82% 0.326 143),
    1px 0 50px oklch(83.82% 0.326 143);
  /* TODO: Should have other signifier than color that this is a link */
}
