:root {
  /* Why oklch color space? See https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl */
  --color-white: oklch(100% 3.5594404384177905e-8 106.37411429114086);
  --color-black: oklch(0% 0 0);
  --color-primary-light: oklch(88.52% 0.058 237.49);
  --color-primary-medium: oklch(58.66% 0.13 243.69);
  --color-primary-dark: oklch(41.07% 0.101 245.69);
  --color-secondary-light: oklch(80.41% 0.115 316.85);
  --color-secondary-medium: oklch(55.25% 0.167 316.18);
  --color-secondary-dark: oklch(39.05% 0.17 314.48);

  --size-xxxs: 2px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  --duration-xs: 0.125s;
  --duration-s: 0.25s;
  --duration-sm: 0.375s;
  --duration-m: 0.5s;
  --duration-l: 1s;
  --duration-xl: 1.5s;
  --duration-xxl: 2s;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

html {
  --content-margin: var(--size-m);
  --page-divider: 25vw;

  /* Logo CSS Custom Variables */
  --logo-margin-top: var(--size-l);
  --logo-max-height: 250px;
  --logo-height: min(30vh, var(--logo-max-height));
  --logo-aspect-ratio: calc(280 / 372);
  --logo-width: calc(var(--logo-aspect-ratio) * var(--logo-height));

  font-family: Inter, sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  color: var(--color-white);
  background: linear-gradient(
    90deg,
    var(--color-primary-dark) var(--page-divider),
    var(--color-primary-medium) var(--page-divider)
  );
  background-color: var(--color-primary-light);
}

html::after {
  --triangle-bg-color: var(--color-primary-light);
  --triangle-height: calc(var(--logo-margin-top) + var(--logo-height) * 0.3);
  --triangle-angle: 39deg;
  --triangle-hypothenuse: calc(
    var(--triangle-height) / sin(var(--triangle-angle))
  );
  content: "";
  position: absolute;
  top: 0;
  left: var(--page-divider);
  transform: translateX(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-left: var(--triangle-hypothenuse) solid transparent;
  border-right: var(--triangle-hypothenuse) solid transparent;
  border-top: var(--triangle-height) solid var(--triangle-bg-color);
  z-index: -1;
}

main {
  max-width: 70ch;
  margin-left: calc(var(--page-divider) + var(--content-margin));
  margin-right: var(--content-margin);
  margin-bottom: var(--size-l);
}

footer {
  padding-bottom: var(--size-l);
  padding-left: calc(var(--page-divider) + var(--content-margin));
  padding-right: var(--content-margin);
}

footer > * {
  max-width: 70ch;
}

h1 {
  line-height: 1.4;
}

h1,
h2 {
  margin-top: var(--size-m);
  margin-bottom: var(--size-s);

  background-image: linear-gradient(
    45deg,
    var(--color-primary-light),
    var(--color-secondary-light),
    var(--color-white)
  );
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
}

p {
  margin-bottom: var(--size-s);
}

/* 
    Link styles:
    Correct order is LoVeHAte (Link, Visited, Hover, Active) 
    See https://forsethingvild.medium.com/helpful-css-acronyms-d16010e5dd5f#a51f
*/
a {
  color: currentColor;
}

.theme-menu a,
.contributors__links a,
.explanation__link-localghost {
  text-decoration: none;
}

a:not(.theme-menu a, .explanation__link-localghost, .links a):hover {
  animation: link-anim var(--duration-sm) linear forwards;
  background-image: linear-gradient(
    45deg,
    var(--color-primary-light),
    var(--color-secondary-light),
    var(--color-white)
  );
  background-repeat: no-repeat;
  background-clip: text;
}

@keyframes link-anim {
  0% {
    background-size: 0% 100%;
    color: currentColor;
  }
  100% {
    background-size: 100% 100%;
    color: transparent;
  }
}

.logo {
  margin-top: var(--logo-margin-top);
  width: fit-content;
  margin-left: var(--page-divider);
  transform: translateX(-50%);
}

.logo svg {
  margin: 0 auto;
  height: var(--logo-height);
  width: var(--logo-width);
  max-height: var(--logo-max-height);
}

.links {
  width: fit-content;
  /* margin: 2rem auto 0; */
}

.links__slack svg {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  animation: rotate var(--duration-xl) linear infinite;
  animation-play-state: paused;
}

.links__slack:hover svg {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* Logo */
.logo__letter-f,
.logo__left {
  /* color: var(--color-primary-medium); */
  color: var(--color-primary-light);
}

.logo__top,
.logo__bottom {
  /* color: var(--color-primary-light); */
  color: var(--color-white);
}

.logo__letter-o {
  color: var(--color-primary-dark);
}

.contributors__links {
  display: flex;
  width: fit-content;
  gap: var(--size-xxxs);
  flex-wrap: wrap;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.explanation .explanation__link-localghost {
  --text-color-original: oklch(90.6% 0.075 327.59);
  --text-shadow-color-one-original: oklch(75.88% 0.264 329.46);
  --text-shadow-color-two-original: oklch(67.06% 0.326 330.95);

  --text-color: var(--text-color-original);
  --text-shadow-color-one: var(--text-shadow-color-one-original);
  --text-shadow-color-two: var(--text-shadow-color-two-original);

  color: var(--text-color);
  text-shadow: 0 0 0 var(--text-shadow-color-one),
    0 0 0 var(--text-shadow-color-one), 0 0 0 var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one), 0 0 1px var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two);
  transition: color, text-shadow var(--duration-xs);
  background: none;
}

.explanation .explanation__link-localghost:hover {
  --text-color-original: oklch(94.88% 0.072 147.39);
  --text-shadow-color-one-original: oklch(87% 0.203 145.07);
  --text-shadow-color-two-original: oklch(83.82% 0.326 143);

  --text-color: var(--text-color-original);
  --text-shadow-color-one: var(--text-shadow-color-one-original);
  --text-shadow-color-two: var(--text-shadow-color-two-original);

  color: var(--text-color);
  text-shadow: 0 0 0 var(--text-shadow-color-one),
    0 0 0 var(--text-shadow-color-one), 0 0 0 var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one), 0 0 1px var(--text-shadow-color-one),
    0 0 1px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 20px var(--text-shadow-color-one),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 10px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two),
    1px 0 50px var(--text-shadow-color-two);
  /* TODO: Should have other signifier than color that this is a link */
}
