.theme-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: var(--size-xs);
  list-style: none;
  place-items: center;
  padding: var(--size-s) var(--size-s);
}

.theme-menu a {
  text-decoration: none;
}

.theme-menu a,
.theme-menu a svg {
  transition: transform var(--duration-s) linear;
}

.theme-menu svg {
  height: 2em;
  width: 2em;
}

/* CUSTOMIZATION */

/* OF logo */
a.theme-menu__of:hover svg {
  transform: scaleX(-1);
}

/* NRK logo */
/*
Some NRK colors: 
  --nrk-color-core-blue-400: #649be2;
  --nrk-color-core-blue-500: #3d81d8;
  --nrk-color-core-blue-600: #1767ce;
  --nrk-color-core-blue-700: #114f9d;
  --nrk-color-core-blue-750: #073b84;
  --nrk-color-core-blue-800: #0c366c;
  --nrk-color-core-blue-900: #0a2343;
  --nrk-color-core-blue-950: #061629; 
*/
a.theme-menu__nrk svg {
  color: #0c366c;
  font-size: 19px;
}

a.theme-menu__nrk:hover svg {
  transform: scaleY(-1);
}

/* Baerekraftig menu item */
a.theme-menu__baerekraftig {
  display: inline-block;
  font-size: 24px;
  animation: rotate var(--duration-xl) linear infinite;
  animation-play-state: paused;
}

a.theme-menu__baerekraftig:hover {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
