.theme-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: var(--size-xs);
  list-style: none;
  place-items: center;
  padding: var(--size-s) var(--size-s);
}

.theme-menu a {
  text-decoration: none;
}

.theme-menu a,
.theme-menu a svg {
  transition: transform var(--duration-s) linear;
}

.theme-menu svg {
  height: 2em;
  width: 2em;
}

/* CUSTOMIZATION */

/* OF logo */
.theme-menu a.theme-menu__of:hover svg {
  transform: scaleX(-1);
}

/* NRK logo */
.theme-menu a.theme-menu__nrk svg {
  font-size: 19px;
}

.theme-menu a.theme-menu__nrk:hover svg {
  transform: scaleY(-1);
}

/* Baerekraftig menu item */
.theme-menu a.theme-menu__baerekraftig {
  display: inline-block;
  font-size: 24px;
  animation: rotate var(--duration-xl) linear infinite;
  animation-play-state: paused;
}

.theme-menu a.theme-menu__baerekraftig:hover {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
