---
// import '../styles/events.css';

---

<div class="events">
  <h2>Arrangementer</h2>
  <div class="events__current"></div>
  <h3>Tidligere arrangementer</h3>
  <div class="events__past"></div>
</div>
