---
import LogoOFSticker from '../components/LogoOFSticker.astro';

---

<ul class="theme-menu">
  <li><a class="theme-menu__of" href="/"><LogoOFSticker /></a></li>
  <li>
    <a class="theme-menu__nrk"href="/nrk">
      NRK
    </a>
  </li>
</ul>
