---
import LogoOFSticker from '../components/LogoOFSticker.astro';
import '../styles/theme-menu.css';

---

<ul class="theme-menu">
  <li><a class="theme-menu__of" href="/"><LogoOFSticker /></a></li>
  <li>
    <a class="theme-menu__baerekraftig"href="/baerekraftig">
      🌎
    </a>
  </li>
  <li>
    <a class="theme-menu__nrk"href="/nrk">
      <svg style="width:2.1875em;height:0.875em" focusable="false" aria-hidden="true"><use xlink:href="#nrk-logo-nrk"></use></svg>
    </a>
  </li>
</ul>
